

:root{
--Dark-Violet: hsl(256, 26%, 20%);
--Grayish-Blue: hsl(216, 30%, 68%);
--Very-Dark-Violet: hsl(270, 9%, 17%);
--Dark-Grayish-Violet: hsl(273, 4%, 51%);
--very-light-gray: hsl(0, 0%, 98%);
}

body{
    margin: 0;
    font-family: sans-serif;
}

h1,h2,h3{
    font-family: serif;
}

.container{
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex > *{
    flex: 1;
}

nav{

}
header{

}
section{

}